@page "/add"
@inject HttpClient Http
@using BookApp.Models
@inject NavigationManager Nav
@rendermode InteractiveServer

<h4>Ajouter un livre</h4>
<EditForm Model="book" OnValidSubmit="AddBook">
    <InputText @bind-Value="book.Title" placeholder="Titre" class="form-control mb-2" />
    <InputText @bind-Value="book.Author" placeholder="Auteur" class="form-control mb-2" />
    <button type="submit" class="btn btn-success">Ajouter</button>
</EditForm>

@code {
    private Book book = new();

    private async Task AddBook() 
    {
        var response = await Http.PostAsJsonAsync("books", book);

        if (response.IsSuccessStatusCode)
        {
            book = new(); 
            Nav.NavigateTo("/books"); 
        }
        else
        {
            Console.WriteLine("Erreur lors de l'ajout !");
        }
    }
}